################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessLayer/obj/
/DataAccess/obj/
/Entities/obj/
/TMS/obj/
*.vsidx
*.lock
.vs/TMS/v17/.suo
Entities/bin/
BusinessLayer/bin/
DataAccess/bin/
Entities/bin/
TMS/BusinessEntities.dll
TMS/BusinessEntities.pdb
TMS/TMS.exe.config
TMS/TMS.exe
TMS/BusinessLayer.dll
TMS/DataAccess.dll
TMS/BusinessLayer.pdb
TMS/DataAccess.pdb
