USE [TMS]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/1/2023 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpName] [nvarchar](500) NULL,
	[RoleId] [int] NULL,
	[Password] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Pic] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([EmpName], [RoleId], [Password], [CreatedDate], [ModifyDate], [IsActive], [UserId], [Remark], [Email], [Pic]) VALUES (N'Karan Gupta', 1, N'yodXgNYCdvUm1YFnoosc9EtMZvifUFLV5rdrb23Xq9E=', CAST(N'2022-11-22T00:55:42.000' AS DateTime), CAST(N'2023-02-13T04:05:48.000' AS DateTime), 1, N'184873', N'Admin', N'184873@nttdata.com', N'184873.jpg')
INSERT [dbo].[Employee] ([EmpName], [RoleId], [Password], [CreatedDate], [ModifyDate], [IsActive], [UserId], [Remark], [Email], [Pic]) VALUES (N'Rajesh Shukla', 1, N'yodXgNYCdvUm1YFnoosc9EtMZvifUFLV5rdrb23Xq9E=', CAST(N'2022-11-22T00:55:42.000' AS DateTime), CAST(N'2023-02-24T01:54:02.000' AS DateTime), 1, N'184877', N'Admin', N'184877@nttdata.com', N'184877.jpg')
INSERT [dbo].[Employee] ([EmpName], [RoleId], [Password], [CreatedDate], [ModifyDate], [IsActive], [UserId], [Remark], [Email], [Pic]) VALUES (N'Naman Singh', 3, N'yodXgNYCdvUm1YFnoosc9EtMZvifUFLV5rdrb23Xq9E=', CAST(N'2022-11-22T00:55:42.000' AS DateTime), CAST(N'2023-02-13T03:54:26.000' AS DateTime), 1, N'184878', N'Admin', N'184878@nttdata.com', N'184878.jpg')
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
