USE [TMS]
GO
/****** Object:  Table [dbo].[SubTask]    Script Date: 9/1/2023 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTask](
	[SubTaskId] [int] IDENTITY(1,1) NOT NULL,
	[SubTaskName] [nvarchar](50) NULL,
	[SubTaskDescription] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[TaskId] [int] NULL,
	[ActivityId] [int] NULL,
 CONSTRAINT [PK_SubTask] PRIMARY KEY CLUSTERED 
(
	[SubTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SubTask] ON 

INSERT [dbo].[SubTask] ([SubTaskId], [SubTaskName], [SubTaskDescription], [IsActive], [CreatedDate], [ModifyDate], [TaskId], [ActivityId]) VALUES (1, N'Analysis', N'Incident Analysis related subtasks', 1, CAST(N'2023-01-31T05:25:47.000' AS DateTime), NULL, 1, 1)
INSERT [dbo].[SubTask] ([SubTaskId], [SubTaskName], [SubTaskDescription], [IsActive], [CreatedDate], [ModifyDate], [TaskId], [ActivityId]) VALUES (2, N'InterimChecks', N'Incident Interim Check subtasks', 1, CAST(N'2023-01-31T05:25:47.000' AS DateTime), NULL, 1, 1)
INSERT [dbo].[SubTask] ([SubTaskId], [SubTaskName], [SubTaskDescription], [IsActive], [CreatedDate], [ModifyDate], [TaskId], [ActivityId]) VALUES (3, N'Monitoring', N'Incident Monitoring subtasks', 1, CAST(N'2023-01-31T05:25:47.000' AS DateTime), NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[SubTask] OFF
GO
