USE [TMS]
GO
/****** Object:  Table [dbo].[WorkItemAssignment]    Script Date: 9/1/2023 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkItemAssignment](
	[WorkItemAssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[WorkItemId] [int] NULL,
	[UserIdAssigned] [nvarchar](50) NULL,
	[UserIdHandedover] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[HandOverOrClosedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Remarks] [nvarchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkItemAssignment] ON 

INSERT [dbo].[WorkItemAssignment] ([WorkItemAssignmentId], [WorkItemId], [UserIdAssigned], [UserIdHandedover], [StartDate], [HandOverOrClosedDate], [Status], [Remarks]) VALUES (4, 4, N'184873', N'184890', CAST(N'2023-08-24T12:03:14.000' AS DateTime), CAST(N'2023-08-25T12:21:39.000' AS DateTime), 2, N'Rajesh Shukla:hhh(8/24/2023 12:03:14 AM)
Rajesh Shukla:sass(8/25/2023 12:09:09 AM)
Rajesh Shukla:sss(8/25/2023 12:09:17 AM)
Rajesh Shukla:sss(8/25/2023 12:21:08 AM)
Rajesh Shukla:xsaxs(8/25/2023 12:21')
INSERT [dbo].[WorkItemAssignment] ([WorkItemAssignmentId], [WorkItemId], [UserIdAssigned], [UserIdHandedover], [StartDate], [HandOverOrClosedDate], [Status], [Remarks]) VALUES (6, 5, N'184877', NULL, CAST(N'2023-08-25T12:54:17.000' AS DateTime), CAST(N'2023-08-28T10:26:38.000' AS DateTime), 5, N'Rajesh Shukla: Rajesh Shukla:sss(8/25/2023 12:54:17 AM)
Rajesh Shukla:WIP(8/25/2023 12:54:30 AM) (8/28/2023 10:26:22 PM)')
INSERT [dbo].[WorkItemAssignment] ([WorkItemAssignmentId], [WorkItemId], [UserIdAssigned], [UserIdHandedover], [StartDate], [HandOverOrClosedDate], [Status], [Remarks]) VALUES (41, 40, NULL, NULL, NULL, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[WorkItemAssignment] OFF
GO
ALTER TABLE [dbo].[WorkItemAssignment]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemAssignment_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[WorkItemAssignment] CHECK CONSTRAINT [FK_WorkItemAssignment_Status]
GO
